body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;

}
h1 {
	display:block;
	background-color: grey;
	
	margin-top: 1%;
}
nav {
	display: block;
	background-color:grey;
	
	padding: 0 30%;
}
nav ul li {
	display: inline-block;
	text-transform: uppercase;
	color: black;
	margin: 3%;
	background-color: #F79F81;
	border-radius: 5px;
	padding: 2.5px 2.5px;
}
nav ul li a{
	color: black;
	text-decoration: none;
}
aside {
	text-align: left;
	background-color:grey;
	min-height: 100vh;
}

aside nav ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-decoration: underline;
	
	
}	
aside nav ul a {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	background-color: #F79F81;
	color: black;
	border-radius: 5px;
}
  a:hover {
	background-color:lightgrey;
	
}
section {
	min-height: 100vh;
	background-color:grey;
	padding: 2%;
}
section article {
	padding: 2%;
	background-color: lightgrey;
	margin: 1% auto;
}	
section article header {
	height: 70px;
	background-color: #F79F81;
}	
section article div {
	height: 100px;
	background-color: #F79F81;
}
section article footer {
	height: 70px;
	background-color: #F79F81;
}
footer a{
	text-decoration: none;
	text-decoration: bold;
	text-transform: uppercase;
	background-color: lightgrey;
	display: inline-block;
	border:2px solid darkgrey;
	border-radius: 5px;
	padding: 5px 20px;

}
footer{
	background-color: grey

}

.container {
	display: flex;
	flex-wrap: nowrap;
}
.container aside {
	width: 19%;
	margin: 1%;
}
.container section {
	width: 79%;
	margin: 1%;
}
.container section div {
	margin: 1% 0;
}