body {
	margin: 0 auto;
	text-align: center;
}
h1 {
	display:block;
	background-color: grey;
	
	margin-top: 1%;
}
nav {
	display: block;
	background-color:grey;
	
	padding: 0 30%;
}
nav ul li {
	display: inline-block;
	margin: 3%;
}
aside {
	text-align: left;
	background-color:grey;
	min-height: 100vh;
}
section {
	min-height: 100vh;
	background-color: grey;
	padding: 2%;
}
section article {
	padding: 2%;
	background-color: lightgrey;
	margin: 1% auto;
}	
section article header {
	height: 70px;
	background-color: #F79F81;
}	
section article div {
	height: 100px;
	background-color: #F79F81;
}
section article footer {
	height: 70px;
	background-color: #F79F81;
}
footer a{
	text-decoration: none;
	text-decoration: bold;
	text-transform: uppercase;
	background-color: lightgrey;
	display: inline-block;
	border:2px solid darkgrey;
	border-radius: 5px;
	padding: 5px 20px;

}
footer{
	background-color: grey

}

.container {
	display: flex;
	flex-wrap: nowrap;
}
.container aside {
	width: 19%;
	margin: 1%;
}
.container section {
	width: 79%;
	margin: 1%;
}
.container section div {
	margin: 1% 0;
}